@import '../../Styles/Variables.scss';
@import '../../Styles/Media.scss';
@import '../../Styles/reset.scss';

.HomePage {
  width: 100%;
  height: 130vh;
  background-size: cover;
  background-image: url('../../images/dp2.jpg');
}
